body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#ghIcon {
    display: inline-flexbox;
    height: 7vh;
    padding-bottom: 5%;
}

.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    max-height: 8vh;
}

#navContent {
    align-content: center;
    padding-top: 5px;
}

#currentWeatherCard {
    min-height: 50vh;
    align-content: center;
    justify-content: center;
    padding-top: auto;
}

#forecastCards {
    min-height: 15vh;
    max-height: 15vh;
    justify-content: center;
    align-content: center;
    margin: auto
}

.forecastCard{
    align-content: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

#uvBlock{
    min-height: 8vh;
    max-width: 100%;
    max-height: 8vh;
    min-width: 100%;
}