.city {
    font-size: 1.6rem;
    margin: 0;
}

.details {
    font-size: 1rem;
    margin: 0
}
.conditions{
    text-transform: capitalize;
}

.forecastIcon{
    max-width: 100%;
    height: auto;
}

.forecastText {
    font-size: 1rem;
}
.currentBody{
    height: fit-content;
    min-height: 100%;
    padding: auto;
    margin-top: 20%;
}